*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
.flex-col-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-primary{
  background-color: bisque;
}
.discount{
  background-color: rgb(100, 200, 234);
}
