.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(25% - 20px);
  width: 100%;
  max-width: 320px;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
}
.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 360px;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  position: relative;
}
.img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.4;
  transform: skewX(-25deg);
  pointer-events: none;
}

.product-card:hover .img-wrapper::before {
  animation: shine 0.8s ease;
}
.product-card:active {
  transform: scale(1.05);
}

.img-placeholder {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}
.product-image {
  object-fit: fit;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 15px;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.product-image.loaded {
  opacity: 1;
}

.text-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 15px 0px;
}
.text-wrapper h2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.icon-wrapper .placeholder,
.platform-icon {
  font-weight: bold;
  font-size: 1.5rem;
}
.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.discount {
  background-color: rgb(100, 200, 234);
  border-radius: 15px;
}
.discount::after {
  content: "%";
}
.discount::before {
  content: "-";
}
.price-wrapper p {
  font-size: 1.5rem;
  padding: 5px 10px;
}
.price.before {
  text-decoration: line-through;
}

@keyframes shine {
  0% {
    left: -75%; /* Start outside the left boundary */
  }
  100% {
    left: 125%; /* End outside the right boundary */
  }
}
